* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header {
    background-color: #5E7CE2;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 0;
    width: 100%;
} 

header a {
    text-decoration: none;
    color: #FFFF;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1.5px;
}

nav {
    display: flex;
    gap: 7rem;
}

header a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;
    text-shadow: #1a1d1a 2px 5px;
}

section {
    border: 1px solid #A09BE7;
    height: calc(100vh - 5rem);
    padding: 1rem;
}

h2 {
    text-align: center;
}

main {
    margin-top: 5rem;
}

.listas {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tabelas {
    text-align: start;
}

#formularios .divForm{
    background-color: #2274A5;
    margin-left: 30%;
    margin-right: 30%;
    height: 30vh;
    border-radius: 5px;
    padding-top: 2.5rem;
}

label {
    color: white;
}

.divForm {
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

.divForm .button {
    width: 10rem;
    height: 3em;
    border-radius: 5px;
    background-color: #00CC66;
    color: white;
}

input {
    border-radius: 2px;
    border: none;
    height: 1.7rem;
}

h3 {
    margin-top: 1rem;
    color: red;
}

thead {
    top: 1rem;
    text-align: center;
    background-color: #ebebeb;
}

table {
    margin-top: 2rem;
    border: solid black 1px;
}

th {
    border: solid black 1px;
    height: 3rem;
    width: 100vw;
}

td {
    border: solid black 1px;
    height: 3rem;
}

